<!--

=========================================================
* Now UI Dashboard - v1.5.0
=========================================================

* Product Page: https://www.creative-tim.com/product/now-ui-dashboard
* Copyright 2019 Creative Tim (http://www.creative-tim.com)

* Designed by www.invisionapp.com Coded by www.creative-tim.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="/static/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/static/assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Now UI Dashboard by Creative Tim
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- CSS Files -->
  <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/static/assets/css/now-ui-dashboard.css?v=1.5.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="/static/assets/demo/demo.css" rel="stylesheet" />
</head>

<body class="user-profile">
  <div class="wrapper ">
    <div class="sidebar" data-color="orange">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text logo-mini">
          CT
        </a>
        <a href="http://www.creative-tim.com" class="simple-text logo-normal">
          Creative Tim
        </a>
      </div>
      <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
          <li> 
            <a href="/dashboard/">
              <i class="now-ui-icons design_app"></i>
              <p>USERS</p>
            </a>
          </li>
        </ul>
        <ul class="nav">
            <li>
              <a href="/category/list/">
                <i class="now-ui-icons design_app"></i>
                <p>Category</p>
              </a>
            </li>
        </ul>
        <ul class="nav">
            <li>
              <a href="/sub-category/list/">
                <i class="now-ui-icons design_app"></i>
                <p>Sub category</p>
              </a>
            </li>
        </ul>
        <ul class="nav">
            <li class="active">
              <a href="/prodcut/list/">
                <i class="now-ui-icons design_app"></i>
                <p>Product</p>
              </a>
            </li>
        </ul>
      </div>
    </div>
    <div class="main-panel" id="main-panel">
      <!-- Navbar -->
      
      <!-- End Navbar -->
      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="title">Add Product</h5>
              </div>
              <div class="card-body">
                <form method="POST">
                 {% csrf_token %} 
                  <div class="row">
                    <div class="col-md-6 px-1">
                      <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" name="product_name" placeholder="name" required="true">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 px-1">
                      <div class="form-group">
                        <label>Mrp</label>
                        <input type="text" class="form-control" name="product_mrp" placeholder="product mrp" required="true">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 px-1">
                      <div class="form-group">
                        <label>SP</label>
                        <input type="text" class="form-control" name="product_sp" placeholder="product sp" required="true">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 px-1">
                      <div class="form-group">
                        <label>Product Quantity </label>
                        <input type="text" class="form-control" name="product_quatity_type" placeholder="product quantity" required="true">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 px-1">
                      <div class="form-group">
                        <label>Product Stock Quantity</label>
                        <input type="text" class="form-control" name="product_stock_quatity" placeholder="stock quantity" required="true">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 px-1">
                      <div class="form-group">
                        <label>Product Sub Category</label>
                        <select name="product_subcategory_id" class="form-control">
                            {% for key,val in all_subcategories.items  %}
                          <option value="{{key}}">{{val.name}}</option>
                          {% endfor %}
                        </select>
                        <!-- <input type="text" class="form-control" name="name" placeholder="sub" required="true"> -->
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 px-1">
                      <div class="form-group">
                        <label>Description </label>
                        <input type="text" class="form-control" name="product_details"  placeholder="details"  required="true">
                      </div>
                    </div>
                </div>
                <div class="col-md-6 px-1">
                  <label >Image</label>
                       <input type="file" class="form-control" name="files[]" id="files">
                       <input type="hidden" name="url" id="url">
                     </br>
                  </div>
                 <div class="col-md-6 pl-1"> 
                  <button type="button" onclick="uploadimage()">Upload</button><br><br>
                </div>
                 <!-- <div class="row">
                    <div class="col-md-6 px-1">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Image</label>
                      </div>
                    </div>
                  </div> -->
                  <div class="row">
                    
                    <div class="col-md-6 pl-1"> 
                      <div class="form-group">
                        <input type="submit" class="form-control" >
                      </div>
                    </div>
                  </div>

                </form>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <footer class="footer">
        
      </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="/static/assets/js/core/jquery.min.js"></script>
  <script src="/static/assets/js/core/popper.min.js"></script>
  <script src="/static/assets/js/core/bootstrap.min.js"></script>
  <script src="/static/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="/static/assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="/static/assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/static/assets/js/now-ui-dashboard.min.js?v=1.5.0" type="text/javascript"></script><!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
  <script src="/static/assets/demo/demo.js"></script>
</body>


<!-- script for file upload -->

<script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
  
   <script>
      var config = {
      
      // apiKey: "AIzaSyB0Il0NLQPxxDyMgoE0fOMd4pYUkbkZVvI",
      
      // authDomain: "cpanel-5e873.firebaseapp.com",
      
      // databaseURL: "https://cpanel-5e873.firebaseio.com",
      
      // storageBucket: "cpanel-5e873.appspot.com",
      
      // messagingSenderId: "579985583952"
      apiKey: "AIzaSyAPTy6vrUp4PU7H205fZFkUEHs9LsoSDus",
      authDomain: "citric-proxy-241616.firebaseapp.com",
      databaseURL: "https://citric-proxy-241616.firebaseio.com",
      projectId: "citric-proxy-241616",
      storageBucket: "citric-proxy-241616.appspot.com",
      messagingSenderId: "1000975911785",
      appId: "1:1000975911785:web:a4a4007840f5501308cbf8",
      measurementId: "G-138FDLBEBE"
      
      };
      
     firebase.initializeApp(config);
      // Get a reference to the storage service, which is used to create references in your storage bucket
      function uploadimage(){
      var storage = firebase.storage();
      var file = document.getElementById("files").files[0];
      var storageRef = storage.ref();
      var thisref = storageRef.child(file.name).put(file);
      thisref.on('state_changed',function(snapshot){
      console.log("file uplaoded succesfully");
      },
      function(error) {
      },
      function() {
      // Upload completed successfully, now we can get the download URL      
      var downloadURL = thisref.snapshot.downloadURL;
      console.log("got url");
      document.getElementById("url").value = downloadURL;
      alert("file uploaded successfully");
      });
      }
   </script>
</html>

<!-- end file upload -->
</html>